<!-- Header -->
  <header id="header">
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
      <h1 id="logo" class="navbar-brand" style="margin-left: 30px;">
        <a href="/">
          <span>
            <%= image_tag("logo2.png", alt: "logo", style: "height: 30px; padding-top: 10px;")%>
          </span>
        </a>
      </h1>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to "首頁", root_path, { :class => "nav-link"} %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">個人創作</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
                <a class="dropdown-item" href="left-sidebar.html">新支線</a>
              
                <a class="dropdown-item" href="no-sidebar.html">不太自然參展作品</a>
              
                <a class="dropdown-item" href="no-sidebar.html">日出東方</a>
              
                <a class="dropdown-item" href="no-sidebar.html">無聲的所在</a>
              
                <a class="dropdown-item" href="no-sidebar.html">人像</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">各類演唱會紀實</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a class="dropdown-item" href="no-sidebar.html">春天吶喊</a>
  

                <a class="dropdown-item" href="no-sidebar.html">大港開唱</a>
  

                <a class="dropdown-item" href="no-sidebar.html">飢餓藝術家</a>
  

                <a class="dropdown-item" href="no-sidebar.html">漂浮者MV 劇照</a>
  

                <a class="dropdown-item" href="no-sidebar.html">態團結音樂節</a>
  

                <a class="dropdown-item" href="no-sidebar.html">搖滾台中</a>
  

                <a class="dropdown-item" href="no-sidebar.html">comz專場</a>
  

                <a class="dropdown-item" href="no-sidebar.html">Hello Nico EP發佈演唱會</a>
  

                <a class="dropdown-item" href="no-sidebar.html">Mary See The Future - 2018梅雨季巡迴</a>
  
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">商業紀實</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">婚禮紀實</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>