<div id="flickr">
  <!-- Main -->
    <div id="main" class="wrapper style1">
      <div class="container">
        <header class="major">
          <h2><%= title%></h2>
          <p></p>
        </header>
      </div>
    </div>
  <!-- Main -->
    <ul class="masonry" id="proc">
    <% albums.photo.each do |p| %>
      <li class="item">
          <%= image_tag('loading.svg',data: {"original"=>image_path(p.url_n)}, :class => 'flickr_photo image', :title => p.title, :border => 0) %>
      </li>
    <% end %>
    </ul>
</div>
