<div class="flickr">
<!-- Main -->
    <div id="main" class="wrapper">
      <div class="container">
        <header class="major">
          <h2><%= title%></h2>
          <p></p>
        </header>
      </div>
    </div>
  <!-- Main -->
    <div class="proc" id="masonry">
    <% results.each do |p| %>
      <div class="item">
        <div class="gallery-content">
          <p><%= p.title %></p>
        </div>
        <%= link_to(image_tag('loading.svg',data: {"original"=>image_path(p.primary_photo_extras.url_m)}, :class => 'flickr_photo image', :border => 0), products_path(:id => p.id)) %>
      </div>
    <% end %>
    </div>

</div>