
<div class="flickr">
  <div id="main" class="wrapper">
    <div class="container">
      <header class="major">
        <h2><%= title %></h2>
        <p></p>
      </header>
    </div>
  </div>
  <!-- Main -->
    <div class="container">
      <div class="row justify-content-center">
      <% results.each do |p| %>
        <div class="item col-lg-4">
          <h6><%= p.title %></h6>
          <%= link_to(image_tag('loading.svg',data: {"original"=>image_path(p.primary_photo_extras.url_n)}, :class => 'flickr_photo image')) %>
        </div>
      <% end %>
      </div>
    </div>
</div>