<!-- Banner -->
<section id="banner">
	<div class="container-fluid cover-container text-center d-flex flex-column">
		<div class="row align-items-center justify-content-center flex-fill">
			<div class="col-12 text-light">
					<span>新支線 New Extension Squad.</span>
			</div>
		</div>
	</div>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
	<div class="container-fluid cover-container text-center d-flex flex-column">
		<div class="row align-items-end justify-content-center flex-fill">
			<div class="content col-12 d-flex">
				<div class="col-6 col-12-medium text-light">
					<header>
						<h2>Independent Creation - 創作</h2>
					</header>
					<p>一路敲鑼打鼓的生旦淨末丑，殊不知，一安靜下來就吵到了自己</p>
					<p>I’m screaming at the end of the drums, I don’t know, I’m quarreling myself when I’m quiet.</p>
					<p>Model 蔣佳芸</p>
				</div>
				<div class="col-6 col-miss">
					<ul class="actions">
					<% @products.each do |p| %>
						<li>
							<%= link_to "Product", products_path(:id => p) %>
						</li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
		<div class="container-fluid cover-container text-center d-flex flex-column">
			<div class="row align-items-center justify-content-end flex-fill">
				<div class="content col-4 text-light">
					<header>
						<h2>各類演唱會紀實(音樂祭、樂團專場、MV劇照側拍)</h2>
						<p>All kinds of concert documentary (music festival, orchestra special, MV stills side shot)</p>
					</header>

					<ul class="actions">
					<% @lives.each do |p| %>
						<li>
							<%= link_to "Product", products_path(:id => p) %>
						</li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
	
</section>

<!-- Three -->
<section id="three" class="spotlight style3 left">
		<div class="container-fluid cover-container text-center d-flex flex-column">
			<div class="row align-items-center justify-content-start flex-fill">
				<div class="content col-4 text-light">
					<header>
						<h2>商業</h2>
						<p>Business</p>
					</header>

					<ul class="actions">
					<% @businesses.each do |p| %>
						<li>
							<%= link_to "Product", products_path(:id => p) %>
						</li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
	# <%# <a href="#four" class="goto-next scrolly">Next</a> %>
</section>

<!-- Four-->
<section id="four" class="spotlight style4 right">
	<div class="container-fluid cover-container text-center d-flex flex-column">
			<div class="row align-items-center justify-content-end flex-fill">
				<div class="content col-4 text-light">
					<header>
						<h2>結婚紀實</h2>
						<p>Wedding documentary</p>
					</header>
					<!-- <p>仁德腳王</p> -->
					<ul class="actions">
					<% @weddings.each do |p| %>
						<li>
							<%= link_to "Product", products_path(:id => p) %>
						</li>
					<% end %>
					</ul>
				</div>
			</div>
	</div>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special">
	<div class="container text-center">
		<header>
			<h2>New Extension Squad新支線</h2>
			<p> - 歡迎異業合作 - </p>
		</header>
		<!-- <form method="post" action="#" class="cta">
					<div class="row gtr-uniform gtr-50">
						<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
						<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
					</div>
				</form> -->
	</div>
</section>
