
ol, ul {
	list-style: none;
}

#banner {
  background-attachment: fixed;
  background-color: #272833;
  background-image: image-url('wrapp.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  // position: relative;
  z-index: 21;
}

.style1 {
  background-attachment: fixed;
  background-color: #272833;
  background-image: image-url('MG_5817-3.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  // position: relative;
  z-index: 21;
}

.style2 {
  background-attachment: fixed;
  background-color: #272833;
  background-image: image-url('MG_9396-2.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  // position: relative;
  z-index: 21;
}

.style3 {
  background-attachment: fixed;
  background-color: #272833;
  background-image: image-url('miz1.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  // position: relative;
  z-index: 21;
}

.style4 {
  background-attachment: fixed;
  background-color: #272833;
  background-image: image-url('MG_0609-9.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  // position: relative;
  overflow: hidden;
  z-index: 21;
}

.cover-container {
  height: 100vh;
}

.spotlight .content {
  -moz-transform: translate(0,0);
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
  -moz-transition: -moz-transform 1s ease, opacity 1s ease;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
  -ms-transition: -ms-transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  background: rgba(23, 24, 32, 0.95);
  border-style: solid;
  opacity: 1;
  // position: absolute;
}

  	.spotlight.top .content, .spotlight.bottom .content {
			left: 0;
			padding: 5.1em 0 3.1em 0;
			width: 100%;
		}

		.spotlight.top .content {
			border-bottom-width: 0.35em;
			top: 0;
		}

		.spotlight.bottom .content {
			border-top-width: 0.35em;
			bottom: 0;
		}

		.spotlight.left .content, .spotlight.right .content {
			height: 101%;
			padding: 6em 3em;
			top: 0;
			width: 28em;
		}

		.spotlight.left .content {
			border-right-width: 0.35em;
			left: 0;
		}

		.spotlight.right .content {
			border-left-width: 0.35em;
			right: 0;
		}

		.spotlight.style1 .content {
			border-color: #e44c65;
		}

		.spotlight.style2 .content {
			border-color: #5480f1;
		}

		.spotlight.style3 .content {
			border-color: #39c088;
		}

		.spotlight.inactive .content {
			opacity: 0;
		}

		// #banner:before {
		// 	content: '';
		// 	display: inline-block;
		// 	height: 100vh;
		// 	vertical-align: middle;
		// 	width: 1%;
		// }

		// #banner:after {
		// 	background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.05), rgba(23, 24, 32, 0.95)), url("overlay.png");;
		// 	background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.05), rgba(23, 24, 32, 0.95)), url("overlay.png");;
		// 	background-image: -ms-linear-gradient(top, rgba(23, 24, 32, 0.05), rgba(23, 24, 32, 0.95)), url("overlay.png");;
		// 	background-image: linear-gradient(top, rgba(23, 24, 32, 0.05), rgba(23, 24, 32, 0.95)), url("overlay.png");;
		// 	content: '';
		// 	display: block;
		// 	height: 100%;
		// 	left: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	width: 100%;
		// }
